* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
  min-height: 80vh;  
  width: 60%;
  border-radius: 50px;
}

#profile-background {
    height: 150px;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.2));
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

@media all and (max-width: 1400px) {
    #profile-background {
        gap: 10px;
        height: auto;
    }
}

#profile-pic {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border-right: 5px solid #C4DFE6;
    border-left: 5px solid #A1D6E2;
    border-top: 5px solid #C4DFE6;
    border-bottom:  5px solid #A1D6E2;
    margin-left: 2%;
    margin-top: 1%;
}

@media all and (max-width: 500px) {
    #parent-profile-pic {
        margin: auto;
    }
}

.style-a-tag {
    height: 50px;
    width: 125px;
    border-radius: 25px;
    border-right: 5px solid #C4DFE6;
    border-left: 5px solid #A1D6E2;
    border-top: 5px solid #C4DFE6;
    border-bottom:  5px solid #A1D6E2;
    font-size: 1.4pc;
    font-family: cursive;
    cursor: pointer;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0.2));
    text-align: center;
    text-decoration: none;
    color: #333;
}

.style-a-tag:hover {
    background: linear-gradient(to right bottom, rgba(247, 94, 239, 0.5), rgba(214, 135, 17, 0.5));
}

#parent-ball {
    height: 125px;
    width: 200px;
    background: linear-gradient(to right bottom, rgba(247, 94, 239, 0.5), rgba(214, 135, 17, 0.5));
    border-radius: 5%;
    
}

#ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(to right bottom, rgba(120, 0, 145, 0.5), rgba(201, 4, 112, 0.5));
}

#parent-ball #ball {   
    animation: round 2.5s linear forwards infinite alternate;
}

@keyframes round {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateY(150%);
    }
    50% {
        transform: translateX(300%)  translateY(150%);
    }
    75% {
        transform: translateX(300%);
 }
}

@media all and (max-width: 1815px) {
    #parent-ball, #ball {
    height: 0px;
    }
}

#update-information-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.Block-of-text {
    height: 250px;
    width: 450px;
    background: linear-gradient(to right bottom, rgba(247, 94, 239, 0.5), rgba(214, 135, 17, 0.5));
    border-radius: 2%;
}

#special-treatment {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media all and (max-width: 1130px) {
    #special-treatment {
    display: none;
    }
    #update-information-parent {
        margin-top: 120px;
    }
}

@media all and (max-width: 450px) {

    #update-information-parent {
        margin-top: 250px;
    }
}