* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.2));
  min-height: 80vh;  
  width: 60%;
}