* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body {
    background-color: #5a9aa5;
}

#glass-body {
    height: 750px;
    width: 750px;
    background-color: rgba(95, 60, 175, 0.5);
    border-radius: 10%;
    border: 5px solid #2b2b2b;
}