* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
  min-height: 80vh;  
  width: 60%;
  border-radius: 50px;
}

#profile-background {
    height: 200px;
    width: 200px;
    background-color: #444;
    border-radius: 5px;
}

#profile-pic {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border-right: 5px solid #C4DFE6;
    border-left: 5px solid #A1D6E2;
    border-top: 5px solid #C4DFE6;
    border-bottom:  5px solid #A1D6E2;
}